altair==5.5.0
annotated-types==0.7.0
appdirs==1.4.4
attrs==26.1.0
beautifulsoup4==4.14.3
blinker==1.9.0
cachetools==5.5.2
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
cryptography==46.0.7
curl_cffi==0.15.0
frozendict==2.4.7
gitdb==4.0.12
GitPython==3.1.46
google-ai-generativelanguage==0.4.0
google-api-core==2.30.3
google-auth==2.49.2
google-generativeai==0.4.1
googleapis-common-protos==1.74.0
grpcio==1.80.0
grpcio-status==1.62.3
html5lib==1.1
idna==3.11
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lxml==6.0.3
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
multitasking==0.0.12
narwhals==2.19.0
numpy==1.26.4
packaging==23.2
pandas==2.2.1
peewee==4.0.4
pillow==10.4.0
pip==26.0
platformdirs==4.9.6
plotly==5.19.0
proto-plus==1.27.2
protobuf==4.25.9
pyarrow==23.0.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.1
Pygments==2.20.0
python-dateutil==2.9.0.post0
pytz==2026.1.post1
referencing==0.37.0
requests==2.33.1
rich==13.9.4
rpds-py==0.30.0
six==1.17.0
smmap==5.0.3
soupsieve==2.8.3
streamlit==1.32.0
tenacity==8.5.0
toml==0.10.2
tornado==6.5.5
tqdm==4.67.3
typing_extensions==4.15.0
typing-inspection==0.4.2
tzdata==2026.1
urllib3==2.6.3
webencodings==0.5.1
websockets==16.0
yfinance==1.2.1
